.silhouettes-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url('../../images/silhouettes/Background.jpg');
  background-size: cover;
  position: relative;
}

.silhouettes-container .pictures-container {
  width: 50vw;
  height: 100vh;
}

.background-blur {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: saturate(50%) blur(12px) brightness(50%);
}

.two-sides-container {
  display: flex;
  max-width: 1800px;
}

.silhouettes-container .text-container {
  width: 50vw;
  height: 100vh;
  color: #fff;
  padding: 3rem;
}

.silhouettes-container .text-container .title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.silhouettes-container .text-container .text {
  margin-bottom: 1rem;
}

.pictures-list {
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.pictures-list li {
  position: relative;
  width: 200px;
  height: 200px;
}

.pictures-list li:nth-child(1) {
  transform: rotate(15deg);
}

.pictures-list li:nth-child(2) {
  transform: rotate(-10deg);
}

.pictures-list li:nth-child(3) {
  transform: rotate(-5deg);
}

.pictures-list li:nth-child(4) {
  transform: rotate(-15deg);
}

.pictures-list li:nth-child(5) {
  transform: rotate(12deg);
}

.pictures-list li:nth-child(6) {
  transform: rotate(-10deg);
}

.images-container {
  transition: transform 0.15s ease;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.images-container:hover,
.images-container.active {
  transform: scale(1.2) rotate(10deg);
}

.images-container:active {
  transform: scale(1.25) rotate(10deg);
}

.pictures-list img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.pictures-list .main-picture {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  filter: brightness(500%);
  transition: filter 0.25s ease;
}

.images-container:hover .main-picture,
.images-container.active .main-picture {
  filter: brightness(100%);
}

.pictures-list .white-picture {
  position: absolute;
  z-index: 2;
  transition: opacity 0.15s ease;
}

.images-container:hover .white-picture,
.images-container.active .white-picture {
  opacity: 0;
}

.pictures-list .glow-picutre {
  position: absolute;
  filter: blur(2px);
  transition: transform 0.1s ease;
}

.pictures-list .main-picture:hover ~ .glow-picutre {
  transform: scale(1.2) rotate(10deg);
}

@media (max-width: 1450px) {
  .pictures-list {
    column-gap: 2rem;
  }

  .pictures-list li {
    width: 150px;
    height: 150px;
  }

  .pictures-list img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1000px) {
  .background-blur {
    display: block;
    padding-bottom: 3rem;
  }

  .silhouettes-container .text-container .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .two-sides-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .silhouettes-container .text-container {
    width: 100vw;
    height: unset;
  }

  .silhouettes-container .pictures-container {
    width: 100vw;
    height: unset;
    padding: 0 2rem;
  }

  .pictures-list {
    gap: 4rem;
  }
}

@media (max-width: 450px) {
  .silhouettes-container .text-container .title {
    font-size: 1.2rem;
  }

  .pictures-list li {
    width: 100px;
    height: 100px;
  }

  .pictures-list img {
    width: 100px;
    height: 100px;
  }

  .silhouettes-container .pictures-container {
    padding: 0 0.5rem;
  }
}