.scroll-text-container {
  font-family: 'Cormorant Unicase', serif;
  background-color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 10rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.scroll-text-container .author {
  position: absolute;
  right: 0.5rem;
  top: 10px;
  color: #fff;
  padding-left: 1rem;
  padding-bottom: 0.75rem;
}

.scroll-text {
  text-transform: uppercase;
  word-spacing: 0.75rem;
  font-size: 7rem;
  position: absolute;
  transform: translateX(100vw);
  text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff,
    1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff, -1px 0 0 #fff;
  animation: footer-scroll 35s linear infinite;
}

@keyframes footer-scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1000px) {
  .scroll-text-container {
    height: 7rem;
  }

  .scroll-text {
    font-size: 4.5rem;
  }

  .scroll-text-container .author {
    top: 5px;
    font-size: 0.75rem;
  }

  .scroll-text {
    animation: footer-scroll 27s linear infinite;
  }
}

@media (max-width: 420px) {
  .scroll-text-container {
    height: 4.5rem;
  }

  .scroll-text {
    font-size: 2.5rem;
  }

  .scroll-text-container .author {
    top: 2.5px;
    font-size: 0.5rem;
  }

  .scroll-text {
    animation: footer-scroll 20s linear infinite;
  }
}
