.timeline {
  width: 100vw;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../images/timeline/Background.gif');
  background-size: cover;
}

.content-container {
  backdrop-filter: blur(8px) brightness(15%);
  width: 100%;
  height: 100%;
  padding: 3rem 0 4rem 0;
}

.timeline-parts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline .title {
  text-align: center;
  margin-bottom: 5rem;
  text-transform: uppercase;
  position: relative;
  animation: emerging-element ease;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.timeline h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.timeline .text-container {
  position: relative;
}

.timeline .text-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 1.5px;
  border-radius: 1rem;
  background-color: #fff;
}

.timeline .text-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 25px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: translateX(calc(50% + 2.5px)) translateY(-50%);
  border-radius: 50%;
}

.timeline .side .right-side-period {
  display: none;
}

.timeline .side.right .text-container::after {
  left: 0;
  transform: translateX(calc(-50% - 2.5px)) translateY(-50%);
  border-radius: 50%;
}

.timeline .side {
  list-style-type: none;
  width: 600px;
}

.timeline .side .text {
  padding: 0 1rem 0 0;
}

.timeline .side.right {
  text-align: right;
}

.timeline .side.right .text {
  padding: 0 0 1rem 0;
}

.timeline .separation-line {
  height: 600px;
  width: 5px;
  border-radius: 1rem;
  background-color: #fff;
}

.timeline .side {
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.timeline .side li {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
  animation: emerging-element ease;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.timeline .number {
  font-size: 7rem;
  font-weight: 700;
}

.greece-circle {
  width: 250px;
  height: 250px;
  border: 5px #fff solid;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-5px);
}

.greece-picture {
  width: 200px;
}

@media (max-width: 1270px) {
  .timeline .side {
    width: 500px;
  }

  .timeline h3 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1080px) {
  .timeline .side {
    width: 400px;
  }

  .timeline .side li {
    gap: 1rem;
  }

  .timeline h3 {
    margin-bottom: 1rem;
  }

  .timeline .number {
    font-size: 5rem;
    font-weight: 700;
  }

  .timeline .side .text {
    font-size: 0.8rem;
  }
}

@media (max-width: 860px) {
  .timeline .side {
    width: 370px;
  }
}

@media (max-width: 790px) {
  .timeline .side.right {
    display: none;
  }

  .timeline .side .right-side-period {
    display: flex;
  }

  .timeline .title {
    margin-bottom: 3rem;
  }

  .greece-circle {
    transform: translateY(0);
    margin-top: 2rem;
    width: 100px;
    height: 100px;
    border: 2px #fff solid;
  }

  .greece-picture {
    width: 80px;
  } 

  .timeline .separation-line {
    height: 950px;
  }
}

@media (max-width: 430px) {
  .timeline .side {
    width: 300px;
  }

  .timeline .separation-line {
    height: 1100px;
  }
}

@media (max-width: 350px) {
  .timeline .side {
    width: 270px;
  }

  .timeline .number {
    font-size: 3rem;
  }
}